<%= form_for @book, :html => { :class => "form-horizontal book" } do |f| %>

  <% if @book.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :author, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <%=f.error_span(:author) %>
  </div>
  <div class="form-group">
    <%= f.label :publisher, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :publisher, :class => 'form-control' %>
    </div>
    <%=f.error_span(:publisher) %>
  </div>
  <div class="form-group">
    <%= f.label :abstract, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :abstract, :class => 'form-control' %>
    </div>
    <%=f.error_span(:abstract) %>
  </div>
    <div class="page-header">
    <h2>Owner Information</h2>
  </div>
  <div class="form-group">
    <%= f.label :owner, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :owner, :class => 'form-control' %>
    </div>
    <%=f.error_span(:owner) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="page-header">
  <h2>Security</h2>
</div>
<h4>To guarantee that only you can edit this information.</h4>
<div class="form-group">
    <%= f.label :question, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :question, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :answer, :class => 'control-label col-lg-2'%>
    <div class="col-lg-10">
      <%= f.text_field :answer, :class => 'form-control' %>
    </div>

  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
